.logo{
    height: 82px;
    width: 135px;
    margin-top: 25px;
    margin-left: 35px;
}

.header{
    background-color: rgba(245, 248, 255, 1);
}
.main{
    background-color: rgba(245, 248, 255, 1);
    display: grid;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    
}

.nav-btns{
    display: flex;
   margin-right: 20px;
}
.nav-btns div{
 margin-right: 30px;
}

.nav-btns a{
    text-decoration: none;
    font-weight: 600;
  
    
}

.banner{
    display: flex;
    max-height: 461px;
    max-width: 1140px;
    margin: 0 auto;
}
.banner-text{
    max-width: 50%;
    max-height: 299px;
    margin-top: 106px ;
}
.banner-img{
    max-width: 50%;
    max-height: 355px;
    margin-top: 106px;
}


.page2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  max-width: 1140px;
}

.page2text{
text-align: center;
}

.ourplants{
    font-size: 50px;
    font-weight: bold;
}

.purchase{
    max-width: 270px;
    max-height: 485px;

    text-align: center;
}

.cart-btn{
    width: 270px;
    height: 50px;
    color: white;
    background-color:rgba(233, 90, 8, 1) ;
    border-radius: 2px;
    border: none;
     font-size: 16px;
    font-weight: 400;
    border-top: none;
    cursor: pointer;
}


.purchase-sec{
    display: grid;
 grid-template-columns: repeat(4, 1fr);
 justify-content: center;
 align-items: center;
 gap: 10px;
font-weight: 600;
margin-top: 20px;
}


.flowerlover{
    max-width: 540px;
    max-height: 597px;
    margin-left: 170px;
    margin-top: 1000px;
    margin-bottom: -455px;

}


.badge{
    max-width: 286px;
    max-height: 286px;
 margin-left: 500px;
margin-top: -1200px;

}

.page3-img{
    margin-top: -750px;
    margin-left: -160px;
}

.page3{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px ;
    margin-top: -150px;
 
}

.page3-text{
    margin-top: 500px;
    font-size: 22px;
}

.page3-text li{
    margin-bottom: 15px;
}

.page4-text{
    max-width: 888px;
    text-align: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    margin-left: 122px;
}

.deal1{
width: 367px;
height: 201px;
  
color: white;
text-align: center;
margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: bold;
border-radius: 14px;

}

.deal1{
   background-image: url("./assets/deal-bloom.png");
  
}



.deal2{
    width: 367px;
height: 201px;
   background-image: url("./assets/deal-ana.png");

color: white;

text-align: center;
margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: bold;
border-radius: 14px;
}


.deal3{
    width: 753px;
height: 424px;
   background-image: url("./assets/deal-zabo.png");

color: white;
text-align: center;
margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 40px;
font-weight: bold;
border-radius: 14px;
}

.page4{
    margin-left: 45px;
}

.deals{
    display: flex;
    gap: 20px;
}

.deal1 a{

    color: white;
}

.deal2 a{
    color: white;
}

.deal3 a{
    color: white;
}

.grey{
   color: rgba(137, 135, 161, 1);
}

.orange{
   color: rgba(233, 90, 8, 1);
}

.black{
    color:rgba(0, 0, 0, 1) ;
    
}



/*smaller device*/

@media screen and (max-width:576px) {
     .logo{
    width: 100px;
    height: 65px;
    }
    .home{
        display: none;
    }
    .shop{
        display: none;
    }
    .about-us{
        display: none;
    }


    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        max-width: 576px;
    }
    .banner-text{
        width: 576px;
      
    }
    .main{
     display: flex;
     flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .banner-img{
        width: 100%;
margin-top: 400px;
margin-bottom: 0px;
    }

    .page2{
max-width: 100%;
margin-left: 307px;
margin-top: 615px;
    }
 
.purchase-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.page3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badge{
    display: none;
}

.page3-img{
    margin-left: 130px;
}
.page3-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-left: 265px;
   font-size: 16px;
   max-width: 100%;
   text-align: center;
   max-width: 485px;
}
 
.page3-text h2{
    margin-left: 40px;
}
.page3-text li{
    margin-bottom: 35px;

}
   
.page4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page4-text{
    text-align: center;
}

.deals{
    display: flex;
    flex-direction: column;
    width: 93%;
    justify-content: center;
    align-items: center;
}

.page4-text{
    width: 440px;
    height: 80px;
   font-size: 14px;
 margin-top: -1px;
    margin-bottom: 150px;
    margin-left: 270px;
}



.deal1{


 background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 500px;
height: 330px;


}
.deal2{
   

 background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 95%;
width: 500px;
height: 330px;
margin-right: 30px;
}

.deal12{
    margin-left: 300px;
}

.deal3{
max-width: 70%;
   margin-left: 260px;
}

}

